<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <link rel="stylesheet" href="/stylesheets/blog1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="blog">
      <img class="blog-child" alt="" src="/images/rectangle-29.png" />

      <div class="blog-item"></div>
      <div class="home">Home</div>
      <div class="blog1">Blog</div>
      <div class="blog2">Blog</div>
      <div class="home1"><a style="color: white;" href="/">Home</a> </div>
      <div class="services"><a style="color: white;" href="/">Services</a></div>
      <div class="about-us"><a style="color: white;" href="/">About us</a></div>
      <div class="order-company"><a  style="color: white;" href="/ordercompany">Order Company</a></div>
      <div class="apply-for-tax"> <a  style="color: white;" href="/applyfortaxrebate">Apply For Tax Rebate</a> </div>
      <div class="blog3"><a  style="color: white;" href="/blog">Blog</a></div>
      <div class="contact"><a style="color: white;"  href="/contactus">Contact Us </a></div>
      <div class="blog-inner"></div>
      <img class="image-1-icon" alt="" src="/images/image-1.png" />

      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="explore">Explore</div>
          <div class="get-in-touch">Get In Touch</div>
          <div class="services1">Services</div>
          <div class="email">Email</div>
          <div class="enter-your-email">Enter your email address</div>
          <div class="contact-us">Contact us</div>
          <div class="contact-number">Contact number</div>
          <div class="timings">Timings</div>
          <div class="group-item"></div>
          <div class="group-inner"></div>
          <div class="subscribe">Subscribe</div>
          <div class="line-div"></div>
          <div class="ask-associate-all">
            © 2023 Ask Associate. All Rights Reserved
          </div>
          <img class="image-1-icon1" alt="" src="/images/image-1.png" />

          <div class="ask-associate-is-container">
            <p class="ask-associate-is">
              Ask Associate is a leading consultancy firm
            </p>
            <p class="ask-associate-is">
              that provides simple yet effective company
            </p>
            <p class="ask-associate-is">
              registration and accounting solutions to
            </p>
            <p class="ask-associate-is">enterprises in Ireland.</p>
          </div>
        </div>
        <img class="facebook-icon" alt="" src="/images/facebook@2x.png" />

        <img class="twitter-icon" alt="" src="/images/twitter@2x.png" />

        <img class="linkedin-icon" alt="" src="/images/linkedin@2x.png" />
      </div>
      <img class="vector-icon" alt="" src="/images/vector.svg" />

      <div class="rectangle-group">
        <div class="rectangle-div"></div>
        <div class="search-blogs">Search blogs</div>
        <div class="rectangle-container">
          <div class="group-child1"></div>
          <div class="search">Search</div>
        </div>
      </div>
      <img class="vector-icon1" alt="" src="/images/vector-1.svg" />

      <img class="vector-icon2" alt="" src="/images/vector-2.svg" />

      <div class="blog-child1"></div>
      <div class="sort-by">Sort by</div>
      <div class="group-div">
        <div class="group-child2"></div>
        <img class="vector-icon3" alt="" src="/images/vector-3.svg" />
        <% blogs.forEach(blog => { %>
        <div class="read-more"><a href="/blog/<%= blog._id %>">Read more</a></div>
        <img class="rectangle-icon" src="<%= blog.image %>" alt="<%= blog.title %>" />

        <div class="paye-modernisation"><%= blog.title %></div>
        <div class="sep2023"><%= blog.date.toDateString() %></div>
        <div class="paye-modernisation-is-container">
          <p class="ask-associate-is">
            <%= blog.data.substring(0, 200) %>...
          </p>
        
        </div>
        <% }); %>
      </div>
        </div>
      </div>
    </div>
  </body>
</html>
