<nav>
    <a href="/" id="logo"><img src=" /images/askA_logo_nav.svg" class="navbar-image-width" alt=""></a>
    <i class="fas fa-bars" id="ham-menu"></i>
    <ul id="nav-bar">
      <li>
        <a  class="<%= (currentPage === 'home') ? 'active' : '' %>"  href="/">Home</a>
      </li>
      <li>
        <a    href="/#services">Services</a>
      </li>
      <li>
        <a  class="<%= (currentPage === 'about') ? 'active' : '' %>"  href="/aboutus">About us</a>
      </li>
      <li>
        <a  class="<%= (currentPage === 'ordercompany') ? 'active' : '' %>"  href="/ordercompany">Order Company</a>
      </li>
      <li>
        <a  class="<%= (currentPage === 'tax') ? 'active' : '' %>"  href="/tax">Apply for tax Rebate</a>
      </li>
      <li >
       
        <a  class="<%= (currentPage === 'blog') ? 'active' : '' %>"  href="/blog">Blog</a>

      </li>
      <li >
       
        <a  class="<%= (currentPage === 'career') ? 'active' : '' %>"  href="/openposition">Career</a>

      </li>
      <li >
       
        <a  class="<%= (currentPage === 'contact') ? 'active' : '' %>"  href="/contactus">Contact</a>

      </li>
    </ul>
  </nav>