<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quantomex</title>
  <!------ Font Awesome ------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!------ Stylesheet ------>
  <link rel="stylesheet" href="/css/style.css" />

  <!------ Queries ------>
  <link rel="stylesheet" href="/css/queries.css" />
<!-- animation -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <!------ Scroll To Top Button ------>
  <button id="scroll-top">
    <i class="fas fa-arrow-up"></i>
  </button>
  <!------ Header ------>
  <header>

    <nav>
      <a href="/" id="logo"><img src="/images/Logo.png" class="navbar-image-width" alt=""></a>
      <i class="fas fa-bars" id="ham-menu"></i>
      <ul id="nav-bar">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#myaboursection">About us</a>
        </li>
        <li>
          <a href="#casestudies12">Case studies</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#getintouch">Get in touch</a>
        </li>
        <li class="specialNav">
          <a href="#"> <div class=" liround">
            <a class="anchorroundtext text" href="">Get a quote</a>
          </div></a>
          
        </li>
      </ul>
    </nav>
  </header>
  <img src="/images/Rectangle.png" style="position: absolute; width: 80%; height: 80%;">

  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <!------ Section: Hero ------>
  <section class="hero" id="home">
    <img src="header-shape.svg" id="header-shape" />
    <div class="hero-img">

      <img src="/images/Group.png" />
    </div>
    <div class="hero-content">
      <h1 class="fontset">We have <span style="color: #7E50CA;">Ideas</span></h1>
      <p>
        At Quantomex, innovation is at the heart of everything we do. We are a passionate team of creative minds dedicated to delivering outstanding UI and UX design solutions for businesses and individuals alike. With a perfect blend of innovation, expertise, and cutting-edge technology, we strive to transform your ideas into visually stunning and highly functional digital experiences. Our team of visionary developers thrives on pushing boundaries, constantly brainstorming and conceptualizing ideas that not only meet the needs of today but also anticipate the challenges of tomorrow.
      </p>
      <div class="roundbg">
        <a class="anchorroundtext" href="">Read More</a>
      </div>
    </div>
  </section>

<!-- ABOUT US Start  -->
<section id="myaboursection">

  <img src="/images/Group 12.png" style="position: absolute; z-index: -9999; width: 90%; right: 0;" alt="">
<div class="aboutDiv">
  <div class="teamText">
      <p class="teamsmallText">Who we are</p>
      <h2 class="teamHead">About Us</h2>
      <p class="underlineHeadings"></p>
    </div>
    <div class="aboutContent">
      <div class="textAboutDiv">
          <p class="aboutPara">At Quantomex, we're more than a software house; we're your creative and technical partners on the path to digital success. With a passion for innovation and a dedicated team, we offer a wide range of services to elevate your online presence and deliver results. Our expertise spans web development, captivating game creation, SEO strategies for enhanced visibility, tailored marketing campaigns, and custom software solutions to meet unique business needs. We're defined by our commitment to quality and client satisfaction, consistently delivering excellence whether it's crafting websites, developing games, or devising winning marketing strategies. Join us on this journey towards digital excellence, and let us transform your ideas into a shining online presence. Contact us today to embark on the adventure.</p>
              <div class="roundbg" style="margin-left: 0; margin-bottom: 30px;">
                <a class="anchorroundtext" href="">Contact us</a>
              </div>
      </div>
      <div class="aboutDivImg"> <div class="teamImgRelative">
          <img class="teamPersonImg" src="/images/team.png" alt="">
            </div></div>
    
    </div>

</div>
</section>
<!-- ABOUT US END  -->
  <!------ Our Services Section Start ------>
  <section style="width: 100vw; overflow-x: hidden;">

    <div class="servicesMainDiv">
      <div class="teamText">
        <p class="teamsmallText">What we do</p>
        <h2 class="teamHead">Our Services</h2>
        <p class="underlineHeadings"></p>
        <p class="serviceSpec">Our services are defined by quality and commitment.</p>
      </div>
      <div class="servicesOffer">
        <div class="servicecolumn">
          <p class="l1">Platform <span>selection</span> </p>
          <p class="l2">Quality issuarance <span>& Testing</span></p>
          <p class="l3">IT <span>consulting</span></p>
        </div>
        <div> <img class="serviceImg" src="/images/Services.png" alt=""></div>
        <div class="servicecolumn">
          <p class="r1">Machine <span>Learning</span></p>
          <p class="r2">Website design <span>& development</span></p>
          <p class="r3">Customize software design <span>& development</span></p>
        </div>
      </div>
    </div>
  </section>
  <!------ Our Services Section End ------>

  <!------ Why choose us Section Start ------>

  <section class="features" id="features">
  
    <p class="teamsmallText">
      Our work
    </p>
    <h2 class="teamHead">Why Choose Us</h2>
    <div class="underheading"></div>

    <div class="row centerflex">
      <div class="column1">
        <div class="padding-20">
          <img src="/images/requrimentsgathering.png" alt="">
          <h3>Requirement Gathering</h3>
          <p>
            "At Quantomex, we transform your vision into digital reality with meticulous expertise."
          </p>
        </div>
      </div>
      <div class="column1">
        <div class="padding-20">
          <img src="/images/uiux.png" alt="">
          <h3>UI/UX Design</h3>
          <p>
            "Crafting User-Centric Experiences to Elevate Digital Solutions. "
          </p>
        </div>
      </div>
      <div class="column1">
        <div class="padding-20">
          <img src="/images/prototype.png" alt="">
          <h3>Prototype</h3>
          <p>
            "Transforming Concepts into Interactive Prototypes for Visualizing Ideas."
          </p>
        </div>
      </div>
      <div class="column1">
        <div class="padding-20">
          <img src="/images/development.png" alt="">
          <h3>Development</h3>
          <p>
            "Bringing Digital Concepts to Life Through Expert Development."
          </p>
        </div>
      </div>
      <div class="column1">
        <div class="padding-20">
          <img src="/images/qualityassurance.png" alt="">
          <h3>Quality Assurance</h3>
          <p>
            "Elevating Excellence Through Rigorous Quality Assurance Testing."
          </p>
        </div>
      </div>
      <div class="column1">
        <div class="padding-20">
          <img src="/images/deployment.png" alt="">
          <h3>Deployment</h3>
          <p>
            "Seamless Deployment for Bringing Digital Solutions to Life."
          </p>
        </div>
      </div>
      <div class="column1">
        <div class="padding-20">
          <img src="/images/maintainance.png" alt="">
          <h3>Support & Maintenances</h3>
          <p>
            "Continuous Support and Maintenance to Keep Your Digital Solutions Running Smoothly."
          </p>
        </div>
      </div>


    </div>
  </section>

  <!------ Why choose us Section End ------>

  <img src="/images/Group 13.png" style="position: absolute; z-index: -9999; width: 80%; " alt="">
  <!------ About us Section Start ------>
  <section class="courses" id="casestudies12" >
  
    <p class="teamsmallText">
      Our Work
    </p>
    <h2 class="teamHead">Case studies</h2>
    <div class="underheading"></div>
    <div class="row">
      <% for (let caseStudy of caseStudies) { %>
        <div class="column bordernone">
          <img src="<%= caseStudy.image %>" alt="<%= caseStudy.title %>" />
          <h3 class="purplecolor"><%= caseStudy.title %></h3>
          <p><%= caseStudy.text %></p>
          <div class="roundbg">
            <a class="anchorroundtext roundtextset" href="/case-study/<%= caseStudy._id %>">Read More</a>
          </div>
        </div>
      <% } %>
      
    </div>
  </section>
  <!------ About us Section End ------>


  <!-- Team Section Start  -->
  <section>
    <div class="teamDiv">
      <div class="teamText">
        <p class="teamsmallText">
          We are expert
        </p>
        <h2 class="teamHead">Our Team</h2>
        <div class="underheading"></div>
      </div>
      <div class="aboutTeam">
        <div class="indvidualTeam">
          <div class="teamImgRelative">
            <img class="teamPersonImg" src="/images/team.png" alt="">
          </div>
          <div class="teampersonText">
            <h2 class="teampersonHead">Uzair Arslan</h2>
            <p class="teampersonsmallText">Chief tech</p>
            <p class="pesonTeamAbout">Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem
              Ipsum has been the industry's standard
              dummy text ever since the 1500s, when
            </p>
          </div>

        </div>
        <div class="indvidualTeam">
          <div class="teamImgRelative">
            <img class="teamPersonImg" src="/images/team.png" alt="">
          </div>
          <div class="teampersonText">
            <h2 class="teampersonHead">Uzair Arslan</h2>
            <p class="teampersonsmallText">Chief tech</p>
            <p class="pesonTeamAbout">Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem
              Ipsum has been the industry's standard
              dummy text ever since the 1500s, when
            </p>
          </div>

        </div>
        <div class="indvidualTeam">
          <div class="teamImgRelative">
            <img class="teamPersonImg" src="/images/team.png" alt="">
          </div>
          <div class="teampersonText">
            <h2 class="teampersonHead">Uzair Arslan</h2>
            <p class="teampersonsmallText">Chief tech</p>
            <p class="pesonTeamAbout">Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem
              Ipsum has been the industry's standard
              dummy text ever since the 1500s, when
            </p>
          </div>

        </div>
      </div>
      
    <img src="/images/Group 12.png" style="position: absolute; z-index: -9999; width: 90%; right: 0;" alt="">
    </div>
    
  </section>
  <!-- Team Section End  -->

  <!-- Client review start  -->
  <section>
    <p class="teamsmallText">
      Client reviews
    </p>
    <h2 class="teamHead">What our clients say about us</h2>
    <div class="underheading"></div>
    <div class="Glimpseround-row">
      <div class="clientcolumn">
        <div class="Glimpse_inerdev">
          <i class="fas fa-star stars mg-left20"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <p>
            "Working with Quantomex has been an absolute game-changer for our business. Their team not only delivered a visually stunning website but also ensured it was highly functional and user-friendly. They truly understood our needs and delivered beyond our expectations. Quantomex is the go-to choice for digital excellence!"
          </p>
          <div class="triangleclient">
            <img src="/images/triangle.png" alt="">
          </div>
        </div>
        <div class="imagecllient">
          <img src="/images/client.png"  alt="">
          <span>David Anderson</span>
        </div>
      </div>
      <div class="clientcolumn">
        <div class="Glimpse_inerdev">
          <i class="fas fa-star stars mg-left20"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <p>
            "Quantomex transformed our outdated website into a modern masterpiece. Their attention to detail during the Requirement Gathering phase was impressive. They took the time to understand our business goals, and it reflected in the final product. We've seen a significant increase in traffic and conversions since the new site went live."
          </p>
          <div class="triangleclient">
            <img src="/images/triangle.png" alt="">
          </div>
        </div>
        <div class="imagecllient">
          <img src="/images/client.png"  alt="">
          <span>Emma Johnson</span>
        </div>
      </div>
      <div class="clientcolumn">
        <div class="Glimpse_inerdev">
          <i class="fas fa-star stars mg-left20"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        
          <p>
            "We approached Quantomex for a custom software solution, and they delivered a tailored product that streamlined our operations. Their development team worked closely with us, ensuring all our specific requirements were met. The ongoing support and maintenance have been exceptional. Quantomex has become a valued partner in our digital journey."
          </p>
          <div class="triangleclient">
            <img src="/images/triangle.png" alt="">
          </div>
        </div>
        <div class="imagecllient">
          <img src="/images/client.png"  alt="">
          <span>Sarah Patel</span>
        </div>
      </div>
    </div>

  </section>
  <!-- Client review end  -->

  <!-- Glimpse Section Start  -->
  <section>
    <p class="teamsmallText">
      Glimpse
    </p>
    <h2 class="teamHead">Our Work and presence</h2>
    <div class="underheading"></div>

    <div class="Glimpseround-row " id="counter">
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel"  >
            <p class="counter-value" data-count="210">
              0
            </p>

            <a href="">Apps developed</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
        
      </div>
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel">
            <p class="counter-value" data-count="320">
              0
            </p>
            <a href="">Website Designed</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
        
      </div>
     
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel">
            <p class="counter-value" data-count="153">
              0
            </p>
            <a href="">SEO</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
        
      </div>
      
  
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel">
            <p class="counter-value" data-count="500">
              0
            </p>
            <a href="">Happy Clients</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
        
      </div>
  
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel">
            <p class="counter-value" data-count="139">
              0
            </p>
            <a href="">Ai & IoT Solutions</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
      </div>
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel">
            <p class="counter-value" data-count="148">
              0
            </p>
            <a href="">Games Developed</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
        
      </div>
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel">
            <p class="counter-value" data-count="168">
              0
            </p>
            <a href="">App Developed</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
        
      </div>
 
      <div class="Glimpseround-column ">
        <div class="Glimpseround-inner ">
          <div class="Glimpseround-center posRel">
           
            <p class="counter-value" data-count="127">
              0
            </p>
            <a href="">Data Science</a>
            <svg class="moonelipse" xmlns="http://www.w3.org/2000/svg" width="240" height="201" viewBox="0 0 240 201" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M240 135.691C216.878 169.385 178.088 191.484 134.136 191.484C63.2757 191.484 5.83201 134.041 5.83201 63.1802C5.83201 40.2105 11.868 18.6506 22.4403 1.20288e-05C8.28374 20.6284 0 45.6025 0 72.5114C0 143.372 57.4437 200.816 128.304 200.816C176.195 200.816 217.957 174.577 240 135.691Z" fill="#7E50CA"/>
            </svg>
          </div>
         
        </div>
        
      </div>
   

    </div>
   
  </section>
  <!-- Glimpse Section End  -->

  <!------ Footer ------>
  <div style="background-color: #222222;" id="getintouch">
    <div class="rowfooter">
      <div class="colimn1">
        <img src="/images/Logo.png" class="footerlogo" alt="">
        <p class="footertext">"Quantomex is your trusted partner for digital innovation. With a passion for excellence, we craft tailored solutions that elevate your online presence, ensuring your success in the digital landscape."
        </p>
      </div>
      <div class="colimn2">
        <h3 class="headingfooter">Links</h3>
        <div class="col-link">
        <div class="rowinner">
          <img src="/images/Ok.png" alt="">
          <a href="#myaboursection">About us</a>
        </div>
        <div class="rowinner">
          <img src="/images/Ok.png" alt="">
          <a href="#getintouch">Contact us</a>
        </div>
        <div class="rowinner">
          <img src="/images/Ok.png" alt="">
          <a href="#">Career</a>
        </div>
        <div class="rowinner">
          <img src="/images/Ok.png" alt="">
          <a href="#casestudies12">Case studies</a>
        </div>
        <div class="rowinner">
          <img src="/images/Ok.png" alt="">
          <a href="#getintouch">Get a quote</a>
        </div>
        </div>
      </div>
      <div class="colimn3">
        <h3 class="headingfooter">Contact info</h3>
        <div class="col-link1">

          <div class="rowinner1">
            <img src="/images/phone.png" alt="">
            <span>+1 (816) 284-8217</span>
          </div>
          <div class="rowinner1">
            <img style="height: 41px;" src="/images/location.png" alt="">
            <span>50 diaz street iselin woodbridge township, New Jersey</span>
          </div>
          <div class="rowinner1">
            <img src="/images/email.png" alt="">
            <span>operations@quantomex.com</span>
          </div>
        </div>
        </div>
    </div>
    <div class="rowfooter w-100" > 
      <div class="linkstag">
      <a href="" class="linkstags">Facebook</a>
      <a href="" class="linkstags">Instagram</a>
      <a href="https://www.linkedin.com/company/quantomex.com/mycompany/verification/" target="_blank" class="linkstags">Linkedin</a>
    </div>
    <div class="emial-footer">
      <input type="text" class="footeremail" placeholder="Enter your email">
    </div>
    </div>
<div class="greyline"> </div>
<div> <p class="companyname">© Quantomex. All Rights Reserved</p></div>
  </div>

  <!------ Script ------>
  <script src="/js/script.js"></script>
</body>

</html>
<script>
  AOS.init();

  var a = 0;
$(window).scroll(function() {

  var oTop = $('#counter').offset().top - window.innerHeight;
  if (a == 0 && $(window).scrollTop() > oTop) {
    $('.counter-value').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-count');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },

        {

          duration: 2000,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
            //alert('finished');
          }

        });
    });
    a = 1;
  }

});
</script>